{% extends 'base.html.twig' %}
{% set isNew = not ( form.vars.data and form.vars.data.id ) %}

{% block title %}
    {% if isNew %}
        Add
    {% else %}
        Edit*
    {% endif %}
        Classes
{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {{ include('classes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('classes_index') }}">back to list</a>

    {% if not isNew %}
        {{ include('partial/_delete_form.html.twig', {delete_route: 'classes_delete', entity: class}) }}
    {% endif %}
{% endblock %}
