@import "~bootstrap/scss/bootstrap";
body {
    background-color: lightyellow;
}
.table{
    max-width: 800px;
}
.table td,
.table th{
    border: 1px solid #dee2e6;
}
.btn{
    background-color: #2995e3;
    color: #ffffff;
}
.delete_btn{
    background-color: #e01e1e;
}
