<div>
    <ul class='header_menu'>
        {% for item in items %}
            <li class='{{getCurrentStyle(item.name)}}'>
                <a href='{{path(item.path)}}'>{{item.label}}<a/>
            </li>
        {% endfor %}
    </ul>
</div>
