{% extends 'base.html.twig' %}
{% set isNew = not ( form.vars.data and form.vars.data.id ) %}

{% block title %}
    {% if isNew %}
        Add
    {% else %}
        Edit*
    {% endif %}
        Mark
{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {{ include('partial/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mark_index') }}">back to list</a>

    {% if not isNew %}
        {{ include('partial/_delete_form.html.twig', {delete_route: 'mark_delete', entity: mark}) }}
    {% endif %}
{% endblock %}
